html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    overflow-y: auto;
}
#header{
    position: relative;
    height: 10%;
    width: 100%;
    left: 10%;
    overflow: hidden;
}

.background{
    background-color:#7C80AE;
}
.textColor {
    color: black;
    background-color: white;

}
/**
  #B5B1B2
  #ADA9B7
  #A9AFD1
  #A1CDF4
  #7C809B
  **/