#header{
    position: relative;
    height: 18%;
    width: 100%;
    left: 0;
    overflow-y: auto;
}
form #searchBar{
    width:500px;
    padding-left: 10px;
}
.search {
    padding:30px 35px;
    background:azure;
    border:1px solid pink;
}
.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    color:#fafafa;
}
.button:hover  {
    background-color:#fafafa;
}
td.newsSource{
    width:30%;
}